* {
    &, &:before, &:after {
        box-sizing: border-box;
    }
}

body {
    margin: 0;
    background: #f5f5f5;

    font-family: 'Roboto', sans-serif;
}

#content {
    min-height: calc(100vh - 64px);
}

.grid-item {
    padding: 10px;
}

.submission-image {
    position: relative;

    img {
        display: block;
        width: 100%
    }
}

.submission-content {
    padding: 16px;

    span {
        line-height: 30.6px;
    }

    .mui-btn--primary {
        margin: 0;
        float: right;
    }
}

.submission-title {
    margin: 0;

    .submission-image & {
        padding: 16px;
        position: absolute;
        bottom: 0;
        color: #fff;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }
}

.icons {
    li {
        display: inline-block;
        margin-left: 14px;
    }

    a {
        display: inline-block;
    }

    svg {
        height: 36px;
    }
}

.modal {
    position: fixed;
    width: 400px;
    background: #fff;
    padding: 16px;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

tr.incomplete {
    background: #ffcdd2
}

/* HEADER */

header {
    line-height: 64px;
    height: 64px;
    padding: 0 6%;
    background-color: #E91E63;
    color: #fefefe;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);
    z-index: 99;

    #account {
        float: right;
    }

    #logo {
        display: inline-block;
        height: 64px;
        padding: 14px 0;

        img {
            height: 100%;
        }
    }

    .mui-btn {
        margin-left: 8px;
    }
}

/* FOOTER */

footer {
    width: 100%;
    margin-top: 160px;

    p {
        float: right;
        margin: 0;
        line-height: 42px;
    }

    a {
        color: rgba(0,0,0,0.5);
        fill: rgba(0,0,0,0.5);
        transition: all .3s ease;
    }

    a:hover {
        color: #000;
        fill: #000;
    }

    #footer-info {
        padding: 48px 64px;
        background: #fff;
    }
}

#footer-logo {
    display: inline-block;
    margin-top: 6px;
    margin-bottom: -6px;

    img {
        display: block ;
        height: 36px;
    }
}

#footer-social {
    text-align: right;
    padding: 0 64px;
}

/* PRELOADER */

body.preloader-active {
    overflow: hidden;
}

#preloader {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background: #fff;
    opacity: 1;
    transition: .3s oapcity ease;

    &-content {
        align-self: center;

        p {
            text-align: center;
            margin: 20px 0 0;
        }
    }

    &-particles {
        width: 250px;
        height: 250px;
    }

    body:not(.preloader-active) & {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

#winner {
    position: relative;
    width: 100%;
    height: calc(100vh - 64px);

    background-size: cover;
    background-position: 50% 50%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .info {
        position: absolute;
        bottom: 0;
        width: 100%;
        line-height: 42px;
        padding: 0 16px;
        color: #fff;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

        h2, h4 {
            display: inline-block;
            line-height: inherit;
            margin: 0;
        }

        h4 {
            float: right;
            font-weight: bolder;

            a {
                color: inherit;
                text-decoration: underline
            }
        }
    }
}

/* TIME */

#countdown {
    display: inline-block;
    float: right;
    padding: 16px;
    font-size: 20px;
    text-transform: uppercase;
    color: #212121;

    span:not([class]) {
        font-weight: bold;
        font-size: .7em;
    }

    #winner & {
        color: #fff;
    }
}

.clear {
    clear: both;
    display:block;
}